{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "nizom-global-placeholder",
    "storage_bucket": "nizom-global-placeholder.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:placeholder",
        "android_client_info": {
          "package_name": "com.nizomglobal"
        }
      },
      "api_key": [
        {
          "current_key": "PLACEHOLDER_FIREBASE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
